{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}

				<div class="row-fluid">
				    <div class="span4">{% placeholder template_6_content_1 %}</div>
				    <div class="span8">{% placeholder template_6_content_1-1 %}</div>
			 	</div>


				<div class="row-fluid">
				    <div class="span4">{% placeholder template_6_content_2 %}</div>
				    <div class="span8">{% placeholder template_6_content_2-1 %}</div>
			 	</div>

				<div class="row-fluid">
				    <div class="span4">{% placeholder template_6_content_3 %}</div>
				    <div class="span8">{% placeholder template_6_content_3-1 %}</div>
			 	</div>




{% endblock %}
